ABS/master/web/mmfo/barsroot/App_WebReferences/Pir/PirService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.unity-bars.com.ua/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.unity-bars.com.ua/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.unity-bars.com.ua/">
      <s:element name="GetCustInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_cust_rnk" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_cust_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_cust_fio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_cust_birthday" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_cust_doc_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_cust_doc_serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_cust_doc_number" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustInfoResult" type="tns:PirRequestCustData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PirRequestCustData">
        <s:complexContent mixed="false">
          <s:extension base="tns:PirRequestResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PirCustData" type="tns:ArrayOfPirCustData" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PirRequestResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Kind" type="tns:PirResultKinds" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfPirErrorMessage" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PirResultKinds">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Error" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfPirErrorMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PirErrorMessage" nillable="true" type="tns:PirErrorMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PirErrorMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPirCustData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PirCustData" nillable="true" type="tns:PirCustData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PirCustData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Rnk" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Nmk" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Okpo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bday" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Passp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumDoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WsHeader" type="tns:WsHeader" />
      <s:complexType name="WsHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Culture" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetReqId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="p_cust_rnk" nillable="true" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="p_rnk_ext" nillable="true" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReqIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReqIdResult" type="tns:PirResponseReqInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PirResponseReqInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:PirRequestResult">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ReqId" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="ReqCreateDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ReqStatus" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ReqStatusName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ReqCreateMfo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ReqCreateMfoName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ReqCreateBranch" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ReqCreateUserName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="CreateReq">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_crt_staff" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_mfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_crt_mfo_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_branch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_crt_branch_name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="p_rnk" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="p_rnkext" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="p_fio_ext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_bdate_ext" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="p_doctype_ext" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="p_docser_ext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_docnum_ext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_inn_ext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateReqResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateReqResult" type="tns:ResponseCreateReq" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseCreateReq">
        <s:complexContent mixed="false">
          <s:extension base="tns:PirRequestResult">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="NewDiReq" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SetCustAcc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="p_Req_id" nillable="true" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="p_kf" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="p_rnkext" nillable="true" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="p_nls2625" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="p_kv" nillable="true" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="p_branch" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCustAccResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetCustAccResult" type="tns:PirRequestResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReqData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="p_Req_id" nillable="true" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReqDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReqDataResult" type="tns:ResponseReqData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseReqData">
        <s:complexContent mixed="false">
          <s:extension base="tns:PirRequestResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PirReqData" type="tns:ArrayOfPirReqData" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfPirReqData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PirReqData" nillable="true" type="tns:PirReqData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PirReqData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="req_id" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="deal_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="deal_type_name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="deal_id" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="deal_num" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sdate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comm" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="summ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="summproc" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="kv" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="approved" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="reff" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetReqApprove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="p_Req_id" nillable="true" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="p_deal_type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="p_deal_id" nillable="true" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="p_crt_staff" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReqApproveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetReqApproveResult" type="tns:PirRequestResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReqDeapprove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="p_Req_id" nillable="true" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="p_user_upd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReqDeapproveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetReqDeapproveResult" type="tns:PirRequestResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEdsRu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="p_req_id" nillable="true" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="p_user_upd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_buff" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEdsRuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetEdsRuResult" type="tns:PirRequestResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReqHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="req_id" nillable="true" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReqHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReqHistoryResult" type="tns:PirResponseReqHistory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PirResponseReqHistory">
        <s:complexContent mixed="false">
          <s:extension base="tns:PirRequestResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PirReqHistoryData" type="tns:ArrayOfPirReqHistoryData" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfPirReqHistoryData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PirReqHistoryData" nillable="true" type="tns:PirReqHistoryData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PirReqHistoryData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="state_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="state_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="set_date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="upd_staff" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comm" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserParams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="params_str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserParamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserParamsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCustInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustInfo" />
  </wsdl:message>
  <wsdl:message name="GetCustInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustInfoWsHeader">
    <wsdl:part name="WsHeader" element="tns:WsHeader" />
  </wsdl:message>
  <wsdl:message name="GetReqIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetReqId" />
  </wsdl:message>
  <wsdl:message name="GetReqIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetReqIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetReqIdWsHeader">
    <wsdl:part name="WsHeader" element="tns:WsHeader" />
  </wsdl:message>
  <wsdl:message name="CreateReqSoapIn">
    <wsdl:part name="parameters" element="tns:CreateReq" />
  </wsdl:message>
  <wsdl:message name="CreateReqSoapOut">
    <wsdl:part name="parameters" element="tns:CreateReqResponse" />
  </wsdl:message>
  <wsdl:message name="CreateReqWsHeader">
    <wsdl:part name="WsHeader" element="tns:WsHeader" />
  </wsdl:message>
  <wsdl:message name="SetCustAccSoapIn">
    <wsdl:part name="parameters" element="tns:SetCustAcc" />
  </wsdl:message>
  <wsdl:message name="SetCustAccSoapOut">
    <wsdl:part name="parameters" element="tns:SetCustAccResponse" />
  </wsdl:message>
  <wsdl:message name="SetCustAccWsHeader">
    <wsdl:part name="WsHeader" element="tns:WsHeader" />
  </wsdl:message>
  <wsdl:message name="GetReqDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetReqData" />
  </wsdl:message>
  <wsdl:message name="GetReqDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetReqDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetReqDataWsHeader">
    <wsdl:part name="WsHeader" element="tns:WsHeader" />
  </wsdl:message>
  <wsdl:message name="SetReqApproveSoapIn">
    <wsdl:part name="parameters" element="tns:SetReqApprove" />
  </wsdl:message>
  <wsdl:message name="SetReqApproveSoapOut">
    <wsdl:part name="parameters" element="tns:SetReqApproveResponse" />
  </wsdl:message>
  <wsdl:message name="SetReqApproveWsHeader">
    <wsdl:part name="WsHeader" element="tns:WsHeader" />
  </wsdl:message>
  <wsdl:message name="SetReqDeapproveSoapIn">
    <wsdl:part name="parameters" element="tns:SetReqDeapprove" />
  </wsdl:message>
  <wsdl:message name="SetReqDeapproveSoapOut">
    <wsdl:part name="parameters" element="tns:SetReqDeapproveResponse" />
  </wsdl:message>
  <wsdl:message name="SetReqDeapproveWsHeader">
    <wsdl:part name="WsHeader" element="tns:WsHeader" />
  </wsdl:message>
  <wsdl:message name="SetEdsRuSoapIn">
    <wsdl:part name="parameters" element="tns:SetEdsRu" />
  </wsdl:message>
  <wsdl:message name="SetEdsRuSoapOut">
    <wsdl:part name="parameters" element="tns:SetEdsRuResponse" />
  </wsdl:message>
  <wsdl:message name="SetEdsRuWsHeader">
    <wsdl:part name="WsHeader" element="tns:WsHeader" />
  </wsdl:message>
  <wsdl:message name="GetReqHistorySoapIn">
    <wsdl:part name="parameters" element="tns:GetReqHistory" />
  </wsdl:message>
  <wsdl:message name="GetReqHistorySoapOut">
    <wsdl:part name="parameters" element="tns:GetReqHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetReqHistoryWsHeader">
    <wsdl:part name="WsHeader" element="tns:WsHeader" />
  </wsdl:message>
  <wsdl:message name="GetUserParamsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserParams" />
  </wsdl:message>
  <wsdl:message name="GetUserParamsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserParamsResponse" />
  </wsdl:message>
  <wsdl:portType name="PirServiceSoap">
    <wsdl:operation name="GetCustInfo">
      <wsdl:input message="tns:GetCustInfoSoapIn" />
      <wsdl:output message="tns:GetCustInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReqId">
      <wsdl:input message="tns:GetReqIdSoapIn" />
      <wsdl:output message="tns:GetReqIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateReq">
      <wsdl:input message="tns:CreateReqSoapIn" />
      <wsdl:output message="tns:CreateReqSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCustAcc">
      <wsdl:input message="tns:SetCustAccSoapIn" />
      <wsdl:output message="tns:SetCustAccSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReqData">
      <wsdl:input message="tns:GetReqDataSoapIn" />
      <wsdl:output message="tns:GetReqDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReqApprove">
      <wsdl:input message="tns:SetReqApproveSoapIn" />
      <wsdl:output message="tns:SetReqApproveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReqDeapprove">
      <wsdl:input message="tns:SetReqDeapproveSoapIn" />
      <wsdl:output message="tns:SetReqDeapproveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetEdsRu">
      <wsdl:input message="tns:SetEdsRuSoapIn" />
      <wsdl:output message="tns:SetEdsRuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReqHistory">
      <wsdl:input message="tns:GetReqHistorySoapIn" />
      <wsdl:output message="tns:GetReqHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserParams">
      <wsdl:input message="tns:GetUserParamsSoapIn" />
      <wsdl:output message="tns:GetUserParamsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PirServiceSoap" type="tns:PirServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustInfo">
      <soap:operation soapAction="http://ws.unity-bars.com.ua/GetCustInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCustInfoWsHeader" part="WsHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReqId">
      <soap:operation soapAction="http://ws.unity-bars.com.ua/GetReqId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetReqIdWsHeader" part="WsHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReq">
      <soap:operation soapAction="http://ws.unity-bars.com.ua/CreateReq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CreateReqWsHeader" part="WsHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCustAcc">
      <soap:operation soapAction="http://ws.unity-bars.com.ua/SetCustAcc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetCustAccWsHeader" part="WsHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReqData">
      <soap:operation soapAction="http://ws.unity-bars.com.ua/GetReqData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetReqDataWsHeader" part="WsHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReqApprove">
      <soap:operation soapAction="http://ws.unity-bars.com.ua/SetReqApprove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetReqApproveWsHeader" part="WsHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReqDeapprove">
      <soap:operation soapAction="http://ws.unity-bars.com.ua/SetReqDeapprove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetReqDeapproveWsHeader" part="WsHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEdsRu">
      <soap:operation soapAction="http://ws.unity-bars.com.ua/SetEdsRu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetEdsRuWsHeader" part="WsHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReqHistory">
      <soap:operation soapAction="http://ws.unity-bars.com.ua/GetReqHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetReqHistoryWsHeader" part="WsHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserParams">
      <soap:operation soapAction="http://ws.unity-bars.com.ua/GetUserParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PirServiceSoap12" type="tns:PirServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustInfo">
      <soap12:operation soapAction="http://ws.unity-bars.com.ua/GetCustInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCustInfoWsHeader" part="WsHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReqId">
      <soap12:operation soapAction="http://ws.unity-bars.com.ua/GetReqId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetReqIdWsHeader" part="WsHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReq">
      <soap12:operation soapAction="http://ws.unity-bars.com.ua/CreateReq" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CreateReqWsHeader" part="WsHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCustAcc">
      <soap12:operation soapAction="http://ws.unity-bars.com.ua/SetCustAcc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetCustAccWsHeader" part="WsHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReqData">
      <soap12:operation soapAction="http://ws.unity-bars.com.ua/GetReqData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetReqDataWsHeader" part="WsHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReqApprove">
      <soap12:operation soapAction="http://ws.unity-bars.com.ua/SetReqApprove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetReqApproveWsHeader" part="WsHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReqDeapprove">
      <soap12:operation soapAction="http://ws.unity-bars.com.ua/SetReqDeapprove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetReqDeapproveWsHeader" part="WsHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEdsRu">
      <soap12:operation soapAction="http://ws.unity-bars.com.ua/SetEdsRu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetEdsRuWsHeader" part="WsHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReqHistory">
      <soap12:operation soapAction="http://ws.unity-bars.com.ua/GetReqHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetReqHistoryWsHeader" part="WsHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserParams">
      <soap12:operation soapAction="http://ws.unity-bars.com.ua/GetUserParams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PirService">
    <wsdl:port name="PirServiceSoap" binding="tns:PirServiceSoap">
      <soap:address location="http://10.10.10.88:8085/barsroot/webservices/PirService.asmx" />
    </wsdl:port>
    <wsdl:port name="PirServiceSoap12" binding="tns:PirServiceSoap12">
      <soap12:address location="http://10.10.10.88:8085/barsroot/webservices/PirService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>